<h1>
    {{title}}
</h1>

<div class="row" *ngIf="isLoggedIn|async">
    <app-display-user></app-display-user>
</div>
<div class="row" *ngIf="!(isLoggedIn|async)">
   <div class="jumbotron">
     <div class="container text-center">
      <h1>Industry 4.0 Readiness Assessment</h1>      
      <p>EDB SIRI framework helps to assess current context of advanced manufacturing praticesses in organisation and provides holistic improvement plan to embrance benifits of Indusry 4.0 </p>
    </div>
   </div>
   <div class="container-fluid bg-3 text-center">    
   <div class="row">
    <div class="col-sm-4">
      <p>SIRI info graph </p>
      <img src="https://placehold.it/250x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p> Assessment Report</p>
      <img src="https://placehold.it/250x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Industry 4.0 Adaption level </p>
      <img src="https://placehold.it/250x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    </div>
   </div><br><br>
    <div class="col-md-6">
        <p>Please <a (click)="navigateToLogin($event)" href="#">Log In</a> or <a (click)="navigateToRegister($event)" href="#">Register</a> to assess preparedness of your organisation for Industry 4.0</p>
    </div>
   </div>
