<h1>
    {{title}}
</h1>

<!--div class="row" *ngIf="isLoggedIn|async">
    <app-display-user></app-display-user>
</div>-->
<!--div class="row" *ngIf="!(isLoggedIn|async)">-->
<div class="row">
   <div class="jumbotron">
     <div class="container text-center">
      <h2>Smart Industry Readiness Index Assessment</h2>      
      <p>Smart Industry Readiness Index is a methodology to systematically evaluate the current state of existing manufacturing facilities, to drive industry-level transformation. </p>
    </div>
   </div>
   <div class="container-fluid bg-3 text-center">    
   <div class="row">
    <div class="col-sm-12">
      <!--div><h3><b>SIRI Framework</b></h3></div>-->
      <img [src]="image" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-12"> 
      <div><h4><b> Assessment Report</b></h4></div>
      <p>Smart Industry Readiness Index measures a company‘s implementation level of Industry 4.0 (I4.0) concepts and provides insights for further improvement in productivity and innovation.</p>
      <img [src]="Report" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <!--div class="col-sm-4"> 
      <p>Industry 4.0 Adaption level </p>
      <img src="https://placehold.it/250x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>-->
    </div>
   </div><br><br>
    <div class="col-md-6">
        <p>Please <a (click)="navigateToLogin($event)" href="#">Log In</a> or <a (click)="navigateToRegister($event)" href="#">Register</a> to assess preparedness of your organisation for Industry 4.0</p>
    </div>
   </div>
