.Qtext {
    background-color:#D3D3D3;
    /*padding: 0 30px;*/
    font-weight: bold;
   /* border-radius: 25px;*/
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 1200px;
   
}
.QStat{
  background-color:paleturquoise;
  /*padding: 0 10px;*/
  font-weight: bold;
  border-radius: 25px;   
  background-position: left top;
  background-repeat: repeat;
}
.pillar{
  background-color:palegreen;
  padding: 1px 20px;
  font-weight: bold;
  border-radius: 25px;  
  background-position: left top;
  background-repeat: repeat;
}
.cluster{
  background-color:#c1def2;
  padding: 1px 20px;
  font-weight: bold;
  border-radius: 25px;  
  background-position: left top;
  background-repeat: repeat;
}
.pillartag{
  background-color:blue;
  padding: 1px 20px;
  font-weight: bold;
  color: white;
  /*border-radius: 25px;*/  
  background-position: left top;
  background-repeat: repeat;
   width: 1200px;
  
}
.chart {display: block; width: 60%;}
.option{
  background-color:#f0f0f5;
  padding: 0 20px;
  font-weight: bold;
  /*border-radius: 25px;*/  
  background-position: left top;
  background-repeat: repeat;
  width: 1200px;
  height: 70px;
  outline-color: black;
}
.AssessmentP{
  background-color:white;
  padding: 1px 20px;
  font-weight: bold;
  background-position: left top;
  background-repeat: repeat;
}

